<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <h3>Le {{date}} à {{hour}}</h3>
      <p>{{county}}</p>
      <div *ngIf="pic != 'noimg'">
        <img [src]=pic>
      </div>
      <div *ngIf="pic == 'noimg'">
        Pas de photo disponible
      </div>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label stacked>Insecte reconnu</ion-label>
    <ion-label>{{insectType}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Situation de l'essaim</ion-label>
    <ion-label>{{feature}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Hauteur approximative</ion-label>
    <ion-label>{{height}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Taille approximative</ion-label>
    <ion-label>{{size}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Commentaires</ion-label>
    <ion-label>{{description}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Numéro de téléphone</ion-label>
    <ion-label>{{telNumber}}</ion-label>
  </ion-item>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col style="text-align: center">
        <div *ngIf="idMyReservedSwarm != -1 && idMyReservedSwarm != idSwarm">
          <ion-label>Vous ne pouvez pas réserver cet essaim car vous avez déjà une réservation en cours</ion-label>
        </div>
        <div *ngIf="isTreated == false && idMyReservedSwarm == -1">
          <button ion-button (click)="bookSwarm()">Réserver cet essaim</button>
        </div>
        <div *ngIf="isTreated == true && idMyReservedSwarm == -1">
          <ion-label>Cet essaim est déjà réservé</ion-label>
        </div>
        <div *ngIf="idMyReservedSwarm == idSwarm">
          <ion-row>
            <ion-col style="text-align: center">
              <button ion-button (click)="endBooking()">Essaim récupéré</button>
              <div></div>
              <button ion-button color="danger" (click)="cancelBooking()">Annuler ma réservation</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
